* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(2, 2, 61), black);
}

:root {
    --main-textgreen-color: #16f087;
    --About-bg-color: rgba(0, 0, 0, 0.6);
}


/*------------------------------------------- navbar style-------------------------------------------  */
.navbar {
    padding: 0rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: white;
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    transition: transform 0.5s;
    background-color: #03033f;
    width: 100%;
    z-index: 899;
}
.nav-titel > h2 {
    cursor: pointer;
}

.navbar>.unOderList {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: transform 0.5s;

}

.navbar>.unOderList>.nav-links {
    list-style: none;
    cursor: pointer;
}

.navbar>.unOderList>.nav-links {
    position: relative;
    margin-left: 3rem;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
}

.navbar>.unOderList>.nav-links:hover,
.navbar>.unOderList>.nav-links:active {
    color: var(--main-textgreen-color);
}

.navbar>.unOderList>.nav-links::after {
    content: "";
    position: absolute;
    background-color: var(--main-textgreen-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: .3s;
}

.navbar>.unOderList>.active {
    color: var(--main-textgreen-color);
}

.navbar>.unOderList>.active::after {
    width: 100%;
}


.navbar>.unOderList>.nav-links:hover::after,
.navbar>.unOderList>.nav-links:active::after {
    width: 100%;
}

.mobile {
    padding: 0 2rem;
    display: none;
}

.mobile>.bar {
    display: none;
}

.mobile>.x {
    display: none;
}



/* respnsive */

@media (max-width:891px) {
    .navbar {
        font-size: 1.8rem;

    }

    .navbar>.unOderList>.nav-links {
        font-size: 1.3rem;
    }
}

@media (max-width:966px) {
    .navbar {
        font-size: 1.8rem;
        height: 7vh;
    }
    .navbar>.unOderList>.nav-links {
        font-size: 1.3rem;
    }
}

@media (max-width:830px) {
    .main {
        overflow-x: hidden;
    }

    .navbar>.unOderList {
        position: fixed;
        top: 7vh;
        display: flex;
        transform: translateX(180%);
        /* right: 0; */
        flex-direction: column;
        background: rgba(1, 1, 50, 0.8);
        height: 93vh;
        width: 60vw;
        /* justify-content: flex-start; */
        align-items: flex-start;
        transition: transform 0.5s;
        z-index: 9999;

    }

    .navbar>.activeNav {
        border: 1px solid var(--main-textgreen-color);
        padding: 3rem;
        position: fixed;
        top: 7vh;
        display: flex;
        transform: translateX(0);
        right: 10px;
        flex-direction: column;
        background: rgba(1, 1, 50, 0.8);
        height: 93vh;
        width: 97vw;
        justify-content: flex-start;
        gap: 5rem;
        transition: transform 0.5s;
        z-index: 99999;
    }

    .navbar>.unOderList>.nav-links:hover::after,
    .navbar>.unOderList>.nav-links:active::after {
        width: 100%;
    }

    .navbar>.unOderList>.active::after {
        width: 100%;
    }

    .mobile {
        display: flex;
    }

    .mobile>.bar {
        display: block;
    }

}



